__pycache__
*.pyc
.vs
.env
.env.*
!.env.example

node_modules/
dist/
dist-electron/
release/

.metagpt/
metagpt-collab/
logs/
resources/
test_outputs/
workspace/

/.dependencies.json
/requirements.txt
/app-run-*.txt
/*.png
/index-*.css
/index-*.js
/_asar-index-*.css
/_asar-index-*.js
